<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="0.8.0" package="com.thelastcrusade.soundstream" xmlns:android="http://schemas.android.com/apk/res/android">

<!-- 
    Copyright 2013 The Last Crusade ContactLastCrusade@gmail.com
    
    This file is part of SoundStream.
    
    SoundStream is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    SoundStream is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with SoundStream.  If not, see <http://www.gnu.org/licenses/>. -->



    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true" android:icon="@drawable/soundstream_launcher" android:label="@string/app_name" android:name=".CustomApp" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name=".CoreActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:name="org.acra.CrashReportDialog"
        android:theme="@android:style/Theme.Dialog"
        android:launchMode="singleInstance"
        android:excludeFromRecents="true"
        android:finishOnTaskLaunch="true" />
        
        <service android:exported="false" android:name=".service.PlaylistService"/>
            
        <service android:exported="false" android:name=".service.ConnectionService"/>
            
        <service android:exported="false" android:name=".service.MessagingService"/>
        
        <service android:exported="false" android:name=".service.UserListService"/>
            
        <service android:exported="false" android:label="@string/music_library" android:name=".service.MusicLibraryService"/>
        
        <!-- TODO: investigate if we can register this dynamically, like all of our other broadcast receivers -->
        <receiver android:name=".components.ExternalMusicControlHandler">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
