<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.0" package="com.lastcrusade.soundstream" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true" android:icon="@drawable/soundstream_launcher" android:label="@string/app_name" android:name=".CustomApp" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:name=".LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_fan" android:name=".FanActivity">
        </activity>
        <activity android:label="@string/title_activity_host" android:name=".HostActivity">
        </activity>
        <activity android:label="@string/title_activity_host" android:name=".TestPlaybarActivity">
        </activity>
         <activity android:name=".CoreActivity">
        </activity>
        <service android:exported="false" android:name=".service.PlaylistService"/>
            
        <service android:exported="false" android:name=".service.ConnectionService"/>
            
        <service android:exported="false" android:name=".service.MessagingService"/>
            
        <service android:exported="false" android:label="@string/music_library" android:name=".service.MusicLibraryService"/>
    </application>

</manifest>